<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="full-height" onload="clock()">
    <div class="App">
        <h1 >Welcome to Tide Clock</h1>
        <div id="currentTime" class="time">
            <script>
                function clock() {
                    const today = new Date();
                    let h = today.getHours();
                    let m = today.getMinutes();
                    let s = today.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    document.getElementById('currentTime').innerHTML =
                        h + ":" + m + ":" + s;
                    let t = setTimeout(clock, 1000);
                }
                function checkTime(i) {
                    if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
                    return i;
                }
            </script>
        </div>
        <div>
           <h2>Please setup your clock by connecting to the Tide Clock Setup wireless access point</h2>
           <h2>ssid: Tide Clock Setup</h2>
           <h2>password: tideclocksetup</h2>
           <h2>then open a browser at raspberrypi.local:5000/wireless</h2>
        </div>

        <%- include("partials/footer"); -%>
