html, body {
  margin: 0;
  /*height: 100%;*/
  /*overflow: hidden;*/
  background-color: rgb(240, 240, 180);
}

.full-height {
  height: 100%;
  overflow:hidden;
}
 
.App {
  font-family:'Open Sans', sans-serif;
  /*text-align: center;*/
  color: rgb(51 49 49);
  font-weight: 800;
}
  
.location {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  margin: 30px 0 0 30px;
  color: rgb(51 49 49);
  text-shadow: 5px 4px 3px #afadb2;
}

.wifiImage{
  position: absolute;
  width: 2.5rem;
  top: 28px;
  right: 31px;
}

.currentWeather {
  position: absolute;
  width: 5rem;
  top: 20px;
  right: 225px;
}

.weatherText{
  position: absolute;
  top: 100px;
  left: 27px;
  font-size: 2rem;
  padding-top: 15px;
  text-shadow: 5px 4px 3px #afadb2;

} 

.weatherIco{
  width: 110px;
  height: 110px;
  padding-left: 10px;
  
}

.stationID {
  position: absolute;
  font-size: 0.65rem;
  top: 66px;
  right: 20px;
  text-align: center;
}

.time {
  font-family: 'Open Sans', sans-serif;
  font-size: 10rem;
  font-weight: 800;
  text-align: center;
  margin: 80px 0 -5px 0;
  text-shadow: 7px 7px 3px #afadb2;
}

.tideSelector{
  margin: auto;
}


li {
  margin: 0 30px 0 30px;
  text-align: center;
  color: rgb(51 49 49);
  display: inline;
  text-shadow: 7px 7px 3px #afadb2;
}

.status {
  width: 5%;
}

.tide {
  width: 6rem;
  
}

.tidefont{
  font-family: 'Open Sans', sans-serif;
  font-size: 6rem;
  font-weight: 800;
}

.day {
  position: absolute;
  font-size: 2rem;
  font-weight: 800;
  top: 70px;
  left: 32px;
  text-shadow: 5px 4px 3px #afadb2;
  color: rgb(51 49 49);
}

.configData {
  width: fit-content;
  margin: auto;
  padding: 10px;
}

#configTitle {
  width: auto;
  text-align: center;
  margin: 10px 0;
}


.locationInputs{
  width: 350px;
}
.locationInput{
  width: 60%;
  float:left;
}
.zipInput{
  width: 37%;
  float:right;
}
.stationInput {
  float: left;
  width: 60%;
}
.inputButton {
  width: 37%;
  float: right;
}


.displayForm{
  width: fit-content;
  margin: auto;
}

.configData h1 {
  text-shadow: 4px 1px 5px grey;
}

#themeIcons {
  width: 350px;
 }
 
input[type="text"], input[type="number"]{
  width: 100%;
  padding: 6px 20px;
  margin: 2px 0px;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #7ed957;
  font-size: medium;
  padding: 5px 0px;
  margin: 21px 0 0 0;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}


.lightChkBx {
  float: right;
}

.darkChkBx {
  float: left;
}

.chkBx{
  padding-bottom: 40px;
  
}
 
#currentTime{
  color: rgb(0 0 0);
  text-shadow: 7px 7px 3px #afadb2;
}

.qrcode{
  width: 50px;
  position: absolute;
  right: 35px;
  top: 120px
}

#qrcodeImage {
  width: 65px;
  border-bottom-color: black;
  padding: 2px;
  background: white;
}